
    <div class="row ">
      <div class="col-1"></div>
      <div class="col-6 border  d-flex mt-5 mb-5 ms-5">
        <img [src]="product.photo" class="img-fluid rounded-center" alt="...">
        <div class="card-body">
          <h2 class="mt-5">{{product.name}}</h2>
          <div class="details mt-2">
              <h5>ID:{{product.id}}</h5>
              <h5>Mobile:{{product.mobile}}</h5>
              <h5>E-Mail:{{product.email}}</h5>
              <h5>Company:{{product.company}}</h5>
              <h5>Title: {{product.title}}</h5>
          </div>
       
      </div>
      <div class="col-1">
       
         
        </div>
      </div>
    </div>

